@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?ukff5a');
    src:  url('fonts/icomoon.eot?ukff5a#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?ukff5a') format('truetype'),
      url('fonts/icomoon.woff?ukff5a') format('woff'),
      url('fonts/icomoon.svg?ukff5a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

*{
    
    box-sizing: border-box;
    --main-color: green;
}

.test{
    fill: green;
}

body{
    margin: 0;
    background-color: var(--main-color);
}

.icon-2:before{
    content: "\e900";
    font-family: 'icomoon';
    font-size: 2;
    color: blue;

}

img{
    height: 50px;
}

.offers{
    display:flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;

    width: 100vw;
    background-color: darkgray;
    padding: 30px 0;
}

.offers_single-offer{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    text-decoration: none;

}

.offers_single-offer-icon{
    transition: .3s;
    height: 50px;
}

.offers_single-offer-title{
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    color: black;
}

.offers_single-offer-intro{
    text-align: center;
    margin-bottom: 0;
    color: black;
}

.offers_single-offer:hover .offers_single-offer-icon{
    transform: translateY(-10px);
}